RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?/$1 [L,QSA]

#For video
AddType video/ogg .ogv .ogg
AddType video/webm .webm
AddType video/mp4 .mp4