*{margin: 0;padding: 0;position: relative;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video { display: block; }
mark, rp, rt, ruby, summary, time { display: inline }
body{ margin:0px;font-family: 'RobotoRegular';font-size:12px;color:#363636;background:#fff;padding: 0px;-webkit-font-smoothing: antialiased;text-shadow: 0px 0px 1px rgba(255,255,255,0.2); overflow-x:hidden;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased;
    /*text-rendering:optimizeLegibility;*/font-smooth:always;}
code, tt { font-family: "Consolas"; font-size: 90%; }
a{ outline:none; text-decoration:none;}
img{ max-width:100%;}
#wrapper{ margin:0px auto; width:100%;}
header{ float:left; width:100%;}
#main{ margin:0px auto; width:1140px;}
#main1{ margin:0px auto; width:100%;}
.logo{ float:left; width:254px; height:119px; margin:30px 0 30px 0;}
.fl{ float:left; display:block;}
.fr{ float:right; display:block;}
.fl1{ float:left; display:none;}
.fr1{ float:right; display:none;}
.sign-box{ float:right; width:auto;background: #fafafa;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa), to(#dcdcdc));background: -webkit-linear-gradient(#fafafa, #dcdcdc);background: -moz-linear-gradient(#fafafa, #dcdcdc);background: -ms-linear-gradient(#fafafa, #dcdcdc);background: -o-linear-gradient(#fafafa, #dcdcdc);background: linear-gradient(#fafafa, #dcdcdc);-pie-background: linear-gradient(#fafafa, #dcdcdc); line-height:30px; width:211px; color:#00577b;font-family: 'RobotoMedium'; font-size:12px;-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45); display:block;behavior: url(js/PIE.htc); position:relative;}
.sign-box ul{ list-style:none;}
.sign-box li{ float:left; width:auto;list-style:none;font-family: 'RobotoMedium';behavior: url(js/PIE.htc); position:relative;}
.sign-box li a{ float:left; width:105px; text-align:center; color:#00577b;background: #ffffff;background:url(../images/button.png) left bottom repeat-x;behavior: url(js/PIE.htc); position:relative;}
.sign-box li a:hover{background: #ffffff; background:url(../images/reg-roll.png) left bottom repeat-x; color:#fff;}
.sign-box li.divide{ background:#dedede; float:left; width:1px; height:30px; display:block;}
.call-us{ float:left; width:auto; color:#00577b; font-size:28px;font-family: 'RobotoLight'; text-align:right; padding:80px 0 0 0; display:block; letter-spacing:-1px; word-spacing:1px; line-height:28px;}
.call-us1{ float:left; width:auto; color:#00577b; font-size:28px;font-family: 'RobotoLight'; text-align:right; padding:80px 0 0 0; display:none; }
nav{ float:left; width:100%; padding:0px; background:url(../images/strip.png) left top repeat-x; line-height:60px;}
nav ul{ margin:0px auto; width:1080px;}
nav li{ display:inline; padding:0px; color:#fff; margin:0px;font-size:16px; color:#fff;text-align:center;}
nav li a{ display:block; padding:0px 39px; color:#fff; float:left; margin:0 1px 0 0;font-family: 'RobotoMedium';}
nav li a:hover, nav li a.active {display:block;color:#fff; background:#86a523 url(../images/nav-hover.png) left top repeat-x;}

/*********************************** header css end here ***********************************/
#page-wrap{ margin:0px auto; width:100%; float:left;}
.banner{ float:left; width:100%; padding:0px; min-height:349px;}
.banner-bg1{ float:left; width:100%; padding:0px;background:url(../images/banner1.jpg) center top no-repeat; }
.banner-bg2{ float:left; width:100%; padding:0px;background:#fff; }
.banner1{ float:none; width:1140px; padding:0px; min-height:349px; margin:0px auto;}
.banner2{ float:none; width:1140px; padding:0px;  min-height:349px;margin:0px auto;}
.bannermain{width:1140px; margin:0px auto;}
.banner-left{ float:left; /*width:516px;*/ width:684px; position:relative; left:0px; }
.banner-right{ float:right; /*width:480px;*/ width:456px; padding:80px 0 0 0; color:#fff; right:0px;}
.banner-right h1{ font-size:70px; color:#fff; font-family: 'RobotoThin';}
.banner-right p{ font-size:16px; line-height:20px; margin:10px 0 10px 0;font-family: 'RobotoLight';}
.banner-right .tab{ float:left; width:100%; padding:0px; margin:10px 0 0 0;}
.banner-right .medias{ float:left; width:100%; padding:0px; margin:30px 0 0 0; font-size:20px; font-weight:500;}
.blank1{ float:left; width:200px;}
#section{ float:left; width:100%; }
.section-left{ float:left; /*width:65%;*/ width:723px; margin:22px 0 0 0;}
.section-right{ float:right; /*width:30%;*/ width:343px; margin:22px 0 0 0;}
.blank{ float:left; width:auto; line-height:29px;}
.search{ float:right; width:auto; background:#fff; width:345px; border:1px solid #cdcdcd; line-height:29px; position:relative;}
.search input{ width:89%; float:right; position:relative; right:0px; background:none; border:none; height:29px; line-height:29px;color:#9a9a9a; font-family: 'RobotoItalic'; font-size:12px;}
.search button{ float:left; position:relative; width:10%; background:#fff url(../images/search.png) center center no-repeat; border:none; text-indent:-99999px; height:29px; cursor: pointer; border-right:1px solid #cdcdcd;}
.box{ margin:22px 0 0 0; float:left; width:100%; border-top:1px solid #d7d7d7; padding:14px 0 0 0;}
.line-one{ float:left; width:100%; padding:0px; margin:0 0 30px 0;}
.line-one:last-child{ margin:0px;}
.line-one ul{ margin:0px; padding:0px; list-style:none;}
.line-one li{ /*margin:0px 2.5% 0 0;*/margin:0px 32.7px 0 0; padding:0px 0px; list-style:none; display:inline-block; float:left; /*width:23%;*/ width:156px; font-size:14px;}
.line-one li a{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);background: #ffffff; display:block; height:30px; line-height:30px;float:left; /*width:100%;*/width:156px; padding:0 12px; background:url(../images/button.png) left bottom repeat-x;behavior: url(js/PIE.htc); position:relative;}
.line-one li a:hover{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);-moz-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);background: #ffffff; display:block;background:url(../images/button-hover.png) left bottom repeat-x;}
.line-one li a img{ float:right; margin:8px 0;}
.line-one li:last-child{ margin:0px;}
.line-two{ float:left; width:100%; padding:0px; margin:0 0 30px 0;}
.line-two:last-child{ margin:0px;}
.line-two ul{ margin:0px; padding:0px; list-style:none;}
.line-two li{ margin:0px 32.7px 0 0; padding:0px 0px; list-style:none; display:inline-block; float:left; width:156px; font-size:14px;}
.line-two li a{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);background: #ffffff; display:block; height:30px; line-height:30px;float:left; width:156px; padding:0 12px; background:url(../images/button.png) left bottom repeat-x;behavior: url(js/PIE.htc); position:relative;}
.line-two li a:hover{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);-moz-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);background: #ffffff; display:block;background:url(../images/button-hover.png) left bottom repeat-x;}
.line-two li a img{ float:right; margin:8px 0;}
.line-two li:last-child{ margin:0px;}
.line-three{ float:left; width:100%; padding:0px; margin:0 0 30px 0;}
.line-three:last-child{ margin:0px;}
.line-three ul{ margin:0px; padding:0px; list-style:none;}
.line-three li{ margin:0px 32.7px 0 0; padding:0px 0px; list-style:none; display:inline-block; float:left; width:156px; font-size:14px;}
.line-three li a{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);background: #ffffff; display:block; height:30px; line-height:30px;float:left; width:156px; padding:0 12px; background:url(../images/button.png) left bottom repeat-x;behavior: url(js/PIE.htc); position:relative;}
.line-three li a:hover{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);-moz-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);background: #ffffff; display:block;background:url(../images/button-hover.png) left bottom repeat-x;behavior: url(js/PIE.htc); position:relative;}
.line-three li a img{ float:right; margin:8px 0;}
.line-three li:last-child{ margin:0px;}
.line-four{ float:left; width:100%; padding:0px; margin:0 0 30px 0;}
.line-four:last-child{ margin:0px;}
.line-four ul{ margin:0px; padding:0px; list-style:none;}
.line-four li{ margin:0px 32.7px 0 0; padding:0px 0px; list-style:none; display:inline-block; float:left; width:156px; font-size:14px;}
.line-four li a{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);background: #ffffff; display:block; height:30px; line-height:30px;float:left; width:156px; padding:0 12px; background:url(../images/button.png) left bottom repeat-x;behavior: url(js/PIE.htc); position:relative;}
.line-four li a:hover{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);-moz-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);background: #ffffff; display:block;background:url(../images/button-hover.png) left bottom repeat-x;}
.line-four li a img{ float:right; margin:8px 0;}
.line-four li:last-child{ margin:0px;}
.line-five{ float:left; width:100%; padding:0px; margin:0 0 30px 0;}
.line-five:last-child{ margin:0px;}
.line-five ul{ margin:0px; padding:0px; list-style:none;}
.line-five li{ margin:0px 32.7px 0 0; padding:0px 0px; list-style:none; display:inline-block; float:left; width:156px; font-size:14px;}
.line-five li a{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);box-shadow:0px 1px 2px rgba(0, 0, 0, 0.45);background: #ffffff; display:block; height:30px; line-height:30px;float:left; width:156px; padding:0 12px; background:url(../images/button.png) left bottom repeat-x;behavior: url(js/PIE.htc); position:relative;}
.line-five li a:hover{ color:#00587c;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);-moz-box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);box-shadow:0px 1px 2px rgba(0, 87, 123, 0.75);background: #ffffff; display:block;background:url(../images/button-hover.png) left bottom repeat-x;}
.line-five li a img{ float:right; margin:8px 0;}
.line-five li:last-child{ margin:0px;}
.box1{ margin:24px 0 0 0; float:left; width:100%; border-top:1px solid #d7d7d7; padding:14px 0 0 0;position:relative;}
.testimonials{ float:left; width:100%; padding:0px;}
.client{ border:1px solid #d2d2d2; float:left; width:100%; padding:2%; position:relative; text-align:center;}
.client img{ position:relative; height:100px; height:98px\9;}
.name{ float:left; width:100%; padding:0px; margin:17px 0; font-size:14px; color:#f47915;font-family: 'RobotoBold'; line-height:18px;}
.name span{ color:#00577b; font-family: 'RobotoRegular'; font-size:12px;}
.text{border:1px solid #d2d2d2; float:left; width:100%; padding:13px 2%; color:#686868;font-family: 'RobotoItalic'; font-size:12px; line-height:19px;}
/******************************* button css start from ******************************************/
.button {display: inline-block;outline: none;cursor: pointer;text-align: center;text-decoration: none;font-size: 12px;padding:0 6px;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: 5px; -moz-border-radius:5px;border-radius:5px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.75);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.75);box-shadow: 0 1px 2px rgba(0,0,0,.75); line-height:29px; text-transform:uppercase; float:right;behavior: url(js/PIE.htc); position:relative;}
.button:hover {text-decoration: none;-webkit-border-radius: 5px;-moz-border-radius:5px;border-radius:5px;}
.button:active {position: relative;top: 1px;}
.button1 {display: inline-block;outline: none;cursor: pointer;text-align: center;text-decoration: none;font-size: 12px;padding:0 6px;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius:5px; -moz-border-radius:5px;border-radius:5px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.75);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.75);box-shadow: 0 1px 2px rgba(0,0,0,.75); line-height:29px;font-family: 'RobotoBold'; font-size:14px;behavior: url(js/PIE.htc); position:relative;}
.button1:hover {text-decoration:none;-webkit-border-radius: 5px;-moz-border-radius:5px;border-radius:5px;}
.button1:active {position: relative;top: 1px;}
.orange {color: #fef4e9;border: solid 1px #da7c0c;background: #f47610;behavior: url(js/PIE.htc); position:relative;-webkit-border-radius: 5px; -moz-border-radius:5px;border-radius:5px;}
.orange:hover {background: #ffffff;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dadada));background: -moz-linear-gradient(top,  #ffffff,  #dadada); border:1px solid #fff; color:#00587c; text-shadow:none;}
.orange:active {color: #fcd3a5;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dadada));background: -moz-linear-gradient(top,  #ffffff,  #dadada);behavior: url(js/PIE.htc); position:relative; color:#00587c; text-shadow:none;}
/*********************************** footer css start from here ***********************************/
footer{ float:left; width:100%; padding:0px; background:url(../images/footer.png) left top repeat; min-height:465px; margin:32px 0 0 0; color:#fff;}
.footer-in{ margin:30px auto 0 auto; width:1140px;}
.links{ float:left;/* width:10%;*/ width:103px;}
.links h2{ background:url(../images/line.png) left bottom repeat-x; color:#fff; font-size:18px; font-weight:normal; padding:0 0 20px 0;}
.links ul{ margin:0px; padding:0px; list-style:none;}
.links li{ line-height:44px;background:url(../images/line.png) left bottom repeat-x; color:#fff; font-size:12px; list-style:none;}
.links li a{ color:#d2d2d2;}
.links li a:hover{ color:#fff;}
.links li a.active{ color:#fff; font-weight:600;}
.links li:last-child{background:none;}
.videos{ float:left; /*width:50%;*/ width:548px;}
.videos h2{ background:url(../images/line.png) left bottom repeat-x; color:#fff; font-size:18px; font-weight:normal; padding:0 0 20px 0;-webkit-font-smoothing: antialiased;}
.videos ul{ margin:16px 0 0 0; padding:0px; list-style:none;}
.videos li{ margin:0px 0 12px 0; padding:0 0 13px 0; list-style:none;background:url(../images/line.png) left bottom repeat-x;}
.videos li:last-child{background:none;}
.promo{ float:left; width:83%; padding:0px;}
.promo img{ float:left; margin:0 10px 0 0; position:relative; z-index:1002;}
.promo p{ font-size:12px; color:#bfbfbf; line-height:14px; position:relative; z-index:1001;}
.promo p span{ color:#fff;font-family: 'RobotoBold';}
.dating{ float:right; width:15%;}
.calendar{ float:none; background:url(../images/calendar.png) 0px 0px no-repeat; font-size:12px; color:#fff; margin:0 0 15px 7px; padding:0 0px 0 20px; }
.stay{ float:right; /*width:30%;*/ width:341px;}
.stay h2{ background:url(../images/line.png) left bottom repeat-x; color:#fff; font-size:18px; font-weight:normal; padding:0 0 20px 0;}
.line1{ float:left; /*width:1%;*/ width:2px; background:url(../images/line1.png) center center repeat-y; /*margin:54px 2% 0 2%;*/ margin:54px 36px 0 36px; min-height:273px; display:block;}
.bottom-logo{ float:left; width:100%; margin:16px 0 0 0;}
.afew{ float:left; width:100%; padding:0px; margin:10px 0 14px; color:#bfbfbf; font-size:12px; line-height:19px;}
.afew span{ color:#fff; font-size:14px; font-weight:600; /*letter-spacing:-1px;*/ }
.social1{ float:left; width:100%; padding:0px; margin:0px;}
.social1 ul{ margin:0px; padding:0px; list-style:none;}
.social1 li{ margin:0px 10px 0 0; padding:0px; list-style:none; display:inline; float:left; width:31px; text-align:center;}
.footer-bottom{ float:left; width:100%; padding:0px; line-height:72px; background:url(../images/line.png) left top repeat-x; margin:18px 0 0 0;}
.copy{ float:left; width:auto; color:#fff; font-size:12px;}
.mail{ float:right; width:auto; color:#fff; font-size:12px; background:url(../images/mail.png) 0px 27px no-repeat; padding:0 0 0 20px }
.mail a{ color:#fff;}
.mail a:hover{ color:#fff; text-decoration:underline;}
.phone{ float:right; width:auto; color:#fff; font-size:12px; background:url(../images/i-phone.png) 0px 25px no-repeat; padding:0 30px 0 20px; }

/*********************************** Clear div css start from here ***********************************/
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.clearfix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*********************************** for lightbox css start from here ***********************************/
.reveal-modal-bg { position: fixed; height: 100%;width: 100%;background: #000;background: rgba(0,0,0,.8);z-index: 1003;display: none;top: 0;left: 0; }
.reveal-modal {visibility: hidden;top: 100px; left: 50%;margin-left: -300px;width: 520px;background: #eee url(../images/modal-gloss.png) no-repeat -200px -80px;position: absolute;z-index: 1004;padding: 30px ;
-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);-box-shadow: 0 0 10px rgba(0,0,0,.4);}
.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
.reveal-modal .close-reveal-modal {font-size: 22px;line-height: .5;position: absolute;top: 8px;right: 11px;color: #aaa;text-shadow: 0 -1px 1px rbga(0,0,0,.6);font-weight: bold;cursor: pointer;} 
video{ width:100%;}
/****************************************** Back to top button ******************************************/
#back-top {position: fixed;bottom: 150px;margin-left: -150px; right:20px;}
#back-top a {width: 37px;display: block;text-align: center;font: 11px/100% Arial, Helvetica, sans-serif;text-transform: uppercase;text-decoration: none;color: #bbb;/* background color transition */-webkit-transition: 1s;-moz-transition: 1s;transition: 1s; text-indent:-999px;}
#back-top a:hover {color: #000;}
/* arrow icon (span tag) */
#back-top span {width: 37px;height: 37px;display: block;margin-bottom: 7px;background: #fff url(../images/up-arrow1.png) no-repeat center center;/* rounded corners */-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;/* background color transition */-webkit-transition: 1s;-moz-transition: 1s;transition: 1s;behavior: url(js/PIE.htc); position:relative;}
#back-top a:hover span {background-color: #777;background: #777 url(../images/up-arrow1.png) no-repeat center center; cursor:pointer;}
/****************************************** social network icons button ******************************************/
.head_soc{position:relative; margin:0px auto; width:213px;}
.head_soc li{float:left; margin-left:18px}
.head_soc li a{display:block}
.head_soc li span{display:block; width:32px; height:10px; position:relative}
.head_soc li a img{display:block; position:relative}
.head_soc li .refl1{ background:url(../images/refl1.png) left top no-repeat}
.head_soc li .refl2{ background:url(../images/refl2.png) left top no-repeat}
.head_soc li .refl3{ background:url(../images/refl3.png) left top no-repeat}
.head_soc li .refl4{ background:url(../images/refl4.png) left top no-repeat}
/****************************************** parent slider css ******************************************/
#parent1 li{background: #000000;padding: 5px;color: #ffffff;}
#parent1-menu a.wactive{padding: 0px 2px;background: #000000;color: #eeeeee;}
/*====================== Exemple 2 ======================*/
#parent2{ width:100%!important;}
#parent2-wrap{border: 0px solid gray;width:100%!important; }
#parent2 li{padding: 0px;margin: 0px; z-index:1001;}
/*#parent2-menu a.wactive{background:blue; border-radius:13px; width:13px; height:13px; text-indent:-99999px; display:inline-block;}*/
#parent2-menu{ position:absolute; right:0px; top:-50px;}
#parent2-menu a{background-color:#f3f4f4;float:left;height:13px;margin:4px 6px 4px 0;text-indent:-9999px;width:13px;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.45) ;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.45) ;box-shadow:0 1px 2px rgba(0, 0, 0, 0.45) ; display:inline-block;text-indent:-99999px;behavior: url(js/PIE.htc); position:relative}
#parent2-menu a.wactive:hover,#parent2-menu a.wactive{background-color:#00587c;-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.45) ;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.45) ;box-shadow:0 1px 2px rgba(0, 0, 0, 0.45) ;text-indent:-99999px;}
/*====================== Exemple 3 ======================*/
#parent3 li{background: gray;padding: 10px;color: white;}
#menu3 a.wactive{padding: 0 3px;border: 1px solid gray;}
.blue{ color:#00577b!important;}
